In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
data = pd.read_csv(r'D:\MLProject\cbb18.csv')
data.head()

,TEAM,CONF,G,W,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,...,FTR,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,POSTSEASON,SEED
0,Villanova,BE,40,36,128.4,94.1,0.9725,59.5,48.5,15.0,...,29.4,26.7,59.0,49.0,40.1,31.7,69.6,10.6,Champions,1.0
1,Virginia,ACC,34,31,114.6,86.7,0.9612,52.7,44.3,14.0,...,24.5,26.2,50.1,42.8,38.3,31.0,60.5,11.3,R64,1.0
2,Duke,ACC,37,29,122.3,92.9,0.9592,55.9,46.4,17.5,...,34.6,22.3,56.0,45.4,37.2,32.0,70.9,6.6,E8,2.0
3,Purdue,B10,37,30,123.2,95.7,0.9484,57.7,47.0,15.8,...,35.6,24.2,54.1,45.5,42.0,33.2,68.7,7.6,S16,2.0
4,Cincinnati,Amer,36,31,111.6,87.7,0.9417,51.2,43.3,17.0,...,36.0,26.8,50.2,41.4,35.3,30.9,66.2,5.9,R32,2.0

In [4]:
data.describe(include='all')

,TEAM,CONF,G,W,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,...,FTR,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,POSTSEASON,SEED
count,351,351,351.000000,351.000000,351.000000,351.000000,351.000000,351.000000,351.000000,351.000000,...,351.000000,351.000000,351.000000,351.000000,351.000000,351.000000,351.000000,351.000000,68,68.000000
unique,351,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,NaN
top,Hampton,ACC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R64,NaN
freq,1,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32,NaN
mean,NaN,NaN,31.566952,17.068376,104.354986,104.357265,0.494586,50.866667,51.062963,18.448718,...,33.537607,33.770940,49.937322,50.074074,34.966952,35.123647,69.419373,-7.968376,NaN,8.794118
std,NaN,NaN,2.615436,6.368305,7.175631,6.300789,0.253638,3.052783,2.754030,1.911168,...,4.485782,5.383155,3.411435,3.167222,2.578082,2.229589,2.681646,6.892202,NaN,4.698551
min,NaN,NaN,24.000000,3.000000,86.200000,86.700000,0.039100,42.600000,42.700000,13.500000,...,21.600000,22.300000,39.300000,38.400000,27.500000,27.500000,60.500000,-24.100000,NaN,1.000000
25%,NaN,NaN,30.000000,12.000000,99.050000,99.850000,0.285950,48.800000,49.250000,17.200000,...,30.400000,29.900000,47.600000,47.950000,33.200000,33.400000,67.500000,-13.000000,NaN,5.000000
50%,NaN,NaN,31.000000,17.000000,104.100000,104.400000,0.473400,50.800000,50.900000,18.500000,...,33.300000,33.300000,49.800000,50.000000,34.800000,35.000000,69.400000,-8.200000,NaN,9.000000
75%,NaN,NaN,33.000000,21.000000,108.800000,108.300000,0.719300,52.900000,52.700000,19.600000,...,36.450000,37.550000,52.000000,52.050000,36.750000,36.600000,71.000000,-3.250000,NaN,13.000000
max,NaN,NaN,40.000000,36.000000,128.400000,123.000000,0.972500,59.500000,59.500000,24.700000,...,45.800000,50.300000,61.700000,58.300000,42.200000,43.100000,83.400000,11.300000,NaN,16.000000

In [6]:
data_num = data[data.select_dtypes(include=[np.number]).columns.tolist()]

In [7]:
data_num.head()

,G,W,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,TORD,ORB,DRB,FTR,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,SEED
0,40,36,128.4,94.1,0.9725,59.5,48.5,15.0,18.2,29.6,27.1,29.4,26.7,59.0,49.0,40.1,31.7,69.6,10.6,1.0
1,34,31,114.6,86.7,0.9612,52.7,44.3,14.0,20.9,27.0,25.6,24.5,26.2,50.1,42.8,38.3,31.0,60.5,11.3,1.0
2,37,29,122.3,92.9,0.9592,55.9,46.4,17.5,17.3,38.8,30.0,34.6,22.3,56.0,45.4,37.2,32.0,70.9,6.6,2.0
3,37,30,123.2,95.7,0.9484,57.7,47.0,15.8,17.7,28.0,28.0,35.6,24.2,54.1,45.5,42.0,33.2,68.7,7.6,2.0
4,36,31,111.6,87.7,0.9417,51.2,43.3,17.0,21.6,38.5,28.2,36.0,26.8,50.2,41.4,35.3,30.9,66.2,5.9,2.0

In [8]:
data_dummies = pd.get_dummies(data[data.select_dtypes(include=['object']).columns.tolist()], drop_first=True)

In [9]:
data_dummies.head()

,TEAM_Air Force,TEAM_Akron,TEAM_Alabama,TEAM_Alabama A&M,TEAM_Alabama St.,TEAM_Albany,TEAM_Alcorn St.,TEAM_American,TEAM_Appalachian St.,TEAM_Arizona,...,CONF_Sum,CONF_WAC,CONF_WCC,POSTSEASON_Champions,POSTSEASON_E8,POSTSEASON_F4,POSTSEASON_R32,POSTSEASON_R64,POSTSEASON_R68,POSTSEASON_S16
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [10]:
data_combined = pd.concat([data_num, data_dummies], axis=1)

In [11]:
data_combined.head()

,G,W,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,TORD,ORB,...,CONF_Sum,CONF_WAC,CONF_WCC,POSTSEASON_Champions,POSTSEASON_E8,POSTSEASON_F4,POSTSEASON_R32,POSTSEASON_R64,POSTSEASON_R68,POSTSEASON_S16
0,40,36,128.4,94.1,0.9725,59.5,48.5,15.0,18.2,29.6,...,0,0,0,1,0,0,0,0,0,0
1,34,31,114.6,86.7,0.9612,52.7,44.3,14.0,20.9,27.0,...,0,0,0,0,0,0,0,1,0,0
2,37,29,122.3,92.9,0.9592,55.9,46.4,17.5,17.3,38.8,...,0,0,0,0,1,0,0,0,0,0
3,37,30,123.2,95.7,0.9484,57.7,47.0,15.8,17.7,28.0,...,0,0,0,0,0,0,0,0,0,1
4,36,31,111.6,87.7,0.9417,51.2,43.3,17.0,21.6,38.5,...,0,0,0,0,0,0,1,0,0,0

In [12]:
from sklearn.model_selection import train_test_split

X = data_combined.drop(['POSTSEASON_Champions'],axis=1)
Y = data_combined['POSTSEASON_Champions']

X.fillna(X.mean(), inplace=True)

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3,random_state=20)
X_train.columns

Index(['G', 'W', 'ADJOE', 'ADJDE', 'BARTHAG', 'EFG_O', 'EFG_D', 'TOR', 'TORD',
       'ORB',
       ...
       'CONF_Slnd', 'CONF_Sum', 'CONF_WAC', 'CONF_WCC', 'POSTSEASON_E8',
       'POSTSEASON_F4', 'POSTSEASON_R32', 'POSTSEASON_R64', 'POSTSEASON_R68',
       'POSTSEASON_S16'],
      dtype='object', length=407)

In [13]:
from sklearn.ensemble import RandomForestClassifier


training = RandomForestClassifier(n_estimators=100, bootstrap= False, criterion= 'entropy', 
                            max_depth= None, max_features= None, min_samples_split= 6)


training.fit(X_train, y_train)


y_pred = training.predict(X_test)

In [14]:
training

RandomForestClassifier(bootstrap=False, class_weight=None, criterion='entropy',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=6,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [15]:
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

print("Precision:",metrics.precision_score(y_test, y_pred))

print("Recall:",metrics.recall_score(y_test, y_pred))

Accuracy: 0.9905660377358491
Precision: 0.0
Recall: 0.0

C:\Users\Daniel\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1437: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)